<ejs-treegrid [dataSource]='data' #treeGrid
              [contextMenuItems]='contextMenuItems'
              (contextMenuClick)='contextMenuClick($event)'
              allowReordering='true'
              [allowResizing]='true' [allowSorting]='multiSort' [treeColumnIndex]='1' allowSelection='false'  childMapping='subtasks'>
  <e-columns>
    <e-column field='taskID' class='header-menu' headerText='Task ID' textAlign='Right' width=90 freeze='1'></e-column>
    <e-column field='taskName' headerText='Task Name' textAlign='Left'  [customAttributes]="{class: 'col-full-menu'}" width=180 freeze='1'></e-column>
    <e-column field='startDate' headerText='Start Date' textAlign='Right' format='yMd' width=120></e-column>
    <e-column field='duration' headerText='Duration' textAlign='Right' width=110></e-column>
  </e-columns>
</ejs-treegrid>
<style>
  .grid-freezeprop {
    padding-bottom: 5px;
  }

  .grid-freezecol {
    display: inline-block;
    padding-right: 10px;
  }
</style>
